<%- include('../partials/head') %>
    <%- include('../partials/header') %>

        <h1 class="mb-3">All Posts</h1>
        <%- include('../partials/posts', { posts: posts }) %>

            <%- include('../partials/footer') %>